TZ=Etc/UTC
SERVERURL=wireguard.domain.com #optional
SERVERPORT=51820 #optional
PEERS=1  # PEERS=myPhone, myTablet #optional
PEERDNS=auto #optional
PUID=1000
PGID=1000
INTERNAL_SUBNET=10.13.13.0 #optional
ALLOWEDIPS=0.0.0.0/0 #optional
LOG_CONFS=true #optional